body {
    background-image: url("fundo.jpg");
    background-size: 100%;
    background-repeat: repeat;
    background-position: left top;
    margin-right: 200px;
    background-attachment: fixed;
}

.centralizartudo{
    text-align: center;
    align-items: center;
    justify-content: center;
}
#titulo {
    color: red;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#fundo {
    background-color: black;
}
.mensagem {
    color: black;
    text-align: center;
    font-size: 200%;
}


#texto {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    text-align: center;
}